{% extends "base.html" %}
{% load url from future %}

{% block body %}
<div class='grid_10 push_7' style='margin-left: 20px'>

	<h6>Set New Password<hr></h6>

	<form method="post" action="{% url 'django.contrib.auth.views.password_reset_confirm' %}">
	{% csrf_token %}

	<div class="fieldWrapper">
		<font color='red'>{{ form.new_password1.errors }}</font>
		<p>
		{{ form.new_password1 }}
		<label>Password</label>
		</p>
	</div>
	<div class="fieldWrapper">
		<font color='red'>{{ form.new_password2.errors }}</font>
		<p>
		{{ form.new_password2 }}
		<label>Confirm Password</label>
		</p>
	</div>

	<input type="submit" value="Submit" />
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
</br>
</div>
{% endblock %}