{% extends "user_management/admin-sidebar.html" %}

{% block body %}
<div class='grid_19'>
	<div style='margin: 5px;'>
		<h1>Edit Job Listing<hr></h1>

		<form method="post" action={{ action_url }}>
		{% csrf_token %}

		<div class="fieldWrapper">
			<font color='red'>{{ form.degree_program.errors }}</font>
			<p>
			{{ form.degree_program }}
			<label>Degree Program</label>
			</p>
		</div>
		<div class="fieldWrapper">
			<font color='red'>{{ form.contact_name.errors }}</font>
			<p>
			{{ form.contact_name }}
			<label>Contact Name</label>
			</p>
		</div>
		<div class="fieldWrapper">
			<font color='red'>{{ form.contact_email.errors }}</font>
			<p>
			{{ form.contact_email }}
			<label>Contact E-mail</label>
			</p>
		</div>
		<div class="fieldWrapper">
			<font color='red'>{{ form.contact_phone.errors }}</font>
			<p>
			{{ form.contact_phone }}
			<label>Contact Phone</label>
			</p>
		</div>
		</br>
		<hr>
		<div class="fieldWrapper">
			<font color='red'>{{ form.title.errors }}</font>
			<p>
			<label>Title</label>
			{{ form.title }}
			</p>
		</div>
		<div class="fieldWrapper">
			<font color='red'>{{ form.description.errors }}</font>
			<p>
			{{ form.description }}
			</p>
		</div>
		<div class="fieldWrapper">
			<font color='red'>{{ form.owner.errors }}</font>
			<p>
			{{ form.owner }}
			</p>
		</div>

		<input type="submit" value="Submit" />
		<input type="hidden" name="next" value="Submit" />
		</form>

	</div>
</div>
{% endblock %}