{% extends "user_management/admin-sidebar.html" %}

{% block body %}

<div class='grid_19'>
	<div style='margin: 5px;'>
		<h1>Edit Profile
		{% if error %}
			<font color='red'></br> - {{ error }} -</font>
		{% endif %}
		</h1>

		<div class='help'>
			<p>
			Update any vaules and click Submit
			</p>
		</div>

		<form action="/accounts/edit_profile/" method="post">{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="fieldWrapper">
				<font color='red'>{{ form.first_name.errors }}</font>
				<p>
				{{ form.first_name }}
				<label>New First Name</label>
				</p>
			</div>
			<div class="fieldWrapper">
				<font color='red'>{{ form.last_name.errors }}</font>
				<p>
				{{ form.last_name }}
				<label>New Last Name</label>
				</p>
			</div>
			<div class="fieldWrapper">
				<font color='red'>{{ form.email.errors }}</font>
				<p>
				{{ form.email }}
				<label>New E-mail</label>
				</p>
			</div>
			<p><input type="submit" value="Submit" /></p>
		</form>
	</div>
</div>

{% endblock %}